<footer class="pc-footer" style="border: 1px solid #E0E0E0; border-radius: 8px; padding: 10px 20px; margin-left: auto; margin-right: 75px; width: 100%; max-width: 1100px;">
  
  <div class="row">
    <!-- [ file-upload ] start -->
    <div class="col-sm-12">
      
    </div>
    <!-- [ file-upload ] end -->
  </div>
  
  <div class="footer-wrapper container-fluid">
    <div class="row align-items-center">
      <div class="col my-1">
        <p class="m-0" style="color: #4A4A4A; font-family: 'Inter', sans-serif; font-size: 12px;">
          © 2024 Migraide AI. All Rights Reserved.
        </p>
      </div>
      <div class="col-auto my-1">
        <ul class="list-inline footer-link mb-0" style="font-family: 'Inter', sans-serif; font-size: 12px;">
          <li class="list-inline-item">
            <a href="../index.html" style="color: #4A4A4A;">Support</a>
          </li>
          <li class="list-inline-item">
            <span style="color: #4A4A4A;">•</span>
          </li>
          <li class="list-inline-item">
            <a href="https://phoenixcoded.gitbook.io/able-pro/" target="_blank" style="color: #4A4A4A;">Terms of Use</a>
          </li>
          <li class="list-inline-item">
            <span style="color: #4A4A4A;">•</span>
          </li>
          <li class="list-inline-item">
            <a href="https://phoenixcoded.authordesk.app/" target="_blank" style="color: #4A4A4A;">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
